@keyframes selected {
  0% {
    flex-basis: 100%;
  }
  100% {
    flex-basis: 76%;
  }
}
@keyframes selected-out {
  0% {
    flex-basis: 76%;
  }
  100% {
    flex-basis: 100%;
  }
}
@keyframes selected-logo {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-720deg);
  }
  100% {
    right: 5%;
    transform: rotate(-720deg);
  }
}
@keyframes selected-logo-out {
  0% {
    right: 5%;
    transform: rotate(-720deg);
  }
  20% {
    transform: rotate(-720deg);
  }
  100% {
    right: -15%;
    transform: rotate(0deg);
  }
}
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes loaderbackground {
  100% {
    visibility: hidden;
  }
}
@keyframes logocolor {
  0% {
    color: #9356DC;
  }
  50% {
    color: #FF79DA;
  }
  100% {
    color: #99E2D0;
  }
}
@keyframes spin-right {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes spin-left {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-1440deg);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.header {
  background-color: #fff;
  color: #000000;
  flex-basis: 100%;
  text-align: center;
}
.header__links {
  list-style-type: none;
}
.header__links a {
  color: #000000;
  text-decoration: none;
}

.location {
  background-color: #EAEAEA;
  color: #000000;
  flex-basis: 100%;
  text-align: center;
}

.start {
  background-color: #F7F7F7;
  color: #000000;
  flex-basis: 100%;
  text-align: center;
}

.howtouse {
  background-color: #fff;
  color: #000000;
  flex-basis: 100%;
  text-align: none;
}

.listing {
  background-color: #F7F7F7;
  color: #000000;
  flex-basis: 100%;
  text-align: left;
}
.listing__links {
  list-style-type: none;
}
.listing__links a {
  color: #000000;
  text-decoration: none;
}

.footer {
  background-color: #353535;
  color: #fff;
  flex-basis: 100%;
  text-align: left;
}
.footer__links {
  list-style-type: none;
}
.footer__links a {
  color: #fff;
  text-decoration: none;
}

.order {
  background-color: #F7F7F7;
  color: #000000;
  flex-basis: 100%;
  text-align: left;
}

.loader {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: wait;
  animation: loaderbackground 3000ms linear 1 forwards;
}
.loader__text {
  display: inline-block;
  position: absolute;
  top: 48%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  -webkit-animation: logocolor 3000ms linear 1 forwards;
  animation: logocolor 3000ms linear 1 forwards;
}
.loader__spinner {
  height: 12em;
  width: 12em;
  display: inline-block;
  border-radius: 10em;
  border: 0.4em solid transparent;
  border-top-color: #99E2D0;
  position: relative;
  -webkit-animation: spin-right 3000ms linear 1 forwards;
  animation: spin-right 3000ms linear 1 forwards;
}
.loader__spinner::before {
  height: 8em;
  width: 8em;
  display: inline-block;
  border-radius: 8em;
  border: 0.4em solid transparent;
  border-top-color: #FF79DA;
  position: absolute;
  top: 1.7em;
  left: 1.7em;
  content: "";
  -webkit-animation: spin-right 3000ms linear 1 forwards;
  animation: spin-right 3000ms linear 1 forwards;
}
.loader__spinner::after {
  height: 10em;
  width: 10em;
  display: inline-block;
  border-radius: 10em;
  border: 0.4em solid transparent;
  border-top-color: #9356DC;
  position: absolute;
  top: 0.7em;
  left: 0.7em;
  content: "";
  -webkit-animation: spin-left 3000ms linear 1 forwards;
  animation: spin-left 3000ms linear 1 forwards;
}

.header {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  padding: 10px 0 10px 0;
  box-shadow: 0 5px 3px #c4c4c4;
  z-index: 1;
}
.header__links {
  position: absolute;
  left: 30px;
}

.location {
  display: flex;
  justify-content: center;
  color: #353535;
  z-index: 0;
  padding: 5px 0 5px 70px;
}
.location i {
  padding-right: 10px;
  position: relative;
  top: 10px;
  font-size: 16px;
}
.location__search {
  padding: 10px 0 10px 0;
  border: none;
  font-family: "Roboto";
  color: #353535;
  font-size: 15px;
  background-color: #EAEAEA;
}
.location__search:focus {
  color: #353535;
  outline: none;
}

.start {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}
.start h2 {
  font-size: bold;
  padding-top: 15px;
  flex-basis: 65%;
}
.start h4 {
  flex-basis: 90%;
  font-weight: 100;
  margin-top: -5px;
  padding-bottom: 7px;
}

.howtouse {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 35px;
}
.howtouse h2 {
  margin: 30px 0px 3px 20px;
  flex-basis: 100%;
}
.howtouse__number {
  background-color: #9356DC;
  color: #fff;
  width: 25px;
  height: 22px;
  padding-top: 3px;
  margin-right: 50px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  top: 47px;
  left: 8px;
}
.howtouse__step {
  flex-basis: 90%;
  font-weight: bold;
  margin-left: 20px;
  padding: 1.5em 0em;
  background-color: #F7F7F7;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 5px #c4c4c4;
}
.howtouse__step i {
  padding: 0em 1em 0em 2em;
  text-align: left;
  font-size: 20px;
  color: #6b6b6b;
}
.howtouse__step:hover {
  flex-basis: 90%;
  font-weight: bold;
  margin-left: 20px;
  padding: 1.5em 0em;
  background-color: #F5EDff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 5px #c4c4c4;
}
.howtouse__step:hover i {
  padding: 0em 1em 0em 2em;
  text-align: left;
  font-size: 20px;
  color: #9356DC;
}

.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.listing__links {
  flex-basis: 90%;
}
.listing h2 {
  margin: 30px 0px 3px 20px;
  flex-basis: 100%;
}
.listing .card {
  position: relative;
}
.listing .card:hover {
  box-shadow: 5px 10px 10px #aaaaaa;
  border-radius: 20px 20px 20px 20px;
}
.listing .card .restaurant {
  flex-basis: 90%;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 10px 10px #c4c4c4;
  margin: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listing .card .restaurant img {
  width: 100%;
  flex-basis: 100%;
  height: 174px;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.listing .card .restaurant__new {
  background-color: #99E2D0;
  color: #278870;
  font-size: 12px;
  position: absolute;
  height: 1.7em;
  width: 4.7em;
  padding: 0.4em 0 0 0.5em;
  border-radius: 5px;
  right: 15px;
  top: 15px;
}
.listing .card .restaurant__description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.listing .card .restaurant__description--title {
  flex-basis: 50%;
  font-weight: bold;
  padding: 1em 0.5em 0.2em 0.7em;
}
.listing .card .restaurant__description--location {
  flex-basis: 50%;
  font-weight: 100;
  padding: 0.1em 0 1em 0.7em;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.menu img {
  flex-basis: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: -20px;
}
.menu .order {
  z-index: 1;
  margin-top: 250px;
  flex-basis: 100%;
  border-radius: 40px 40px 0px 0px;
  padding: 30px 5% 0 5%;
}
.menu .order__restaurant {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.menu .order__restaurant .name {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.menu .order input {
  display: none;
}
.menu .order :checked + label > .order__meal--unselected {
  -webkit-animation: selected 800ms ease-in-out;
  animation: selected 800ms ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.menu .order :checked + label > .pick > .fa-circle-check {
  -webkit-animation: selected-logo 800ms ease-in-out;
  animation: selected-logo 800ms ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.menu .order :not(:checked) + label > .order__meal--unselected {
  -webkit-animation: selected-out 800ms ease-in-out;
  animation: selected-out 800ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.menu .order :not(:checked) + label > .pick > .fa-circle-check {
  -webkit-animation: selected-logo-out 800ms ease-in-out;
  animation: selected-logo-out 800ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.menu .order__category {
  flex-basis: 100%;
  padding-top: 30px;
  font-weight: 100;
  padding-bottom: 4px;
  box-shadow: 40px 3px 0px #F7F7F7, 0px 3px 0px #99E2D0;
  overflow: hidden;
}
.menu .order__meal {
  margin-top: 15px;
  flex-basis: 100%;
  display: flex;
  box-shadow: 1px 0px 10px #c4c4c4;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-animation: menu 1000ms both 1;
  animation: menu 1000ms both 1;
}
.menu .order__meal--1 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.menu .order__meal--2 {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.menu .order__meal--3 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.menu .order__meal--4 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.menu .order__meal--unselected {
  background-color: #fff;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  cursor: pointer;
  min-width: 0;
}
.menu .order__meal--unselected .description {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .order__meal--unselected .description__title {
  font-weight: bold;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .order__meal--unselected .description__add {
  font-weight: 100;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .order__meal--unselected .container {
  position: relative;
  flex-basis: 15%;
}
.menu .order__meal--unselected .container__price {
  position: absolute;
  bottom: 0px;
  right: 5px;
}
.menu .order__meal .pick {
  background-color: #99E2D0;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  right: 0;
}
.menu .order__meal .pick i {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 25%;
  right: -15%;
  z-index: 2;
}
.menu .order .buy {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding-left: 25px;
  padding-top: 18px;
}
.footer ul {
  -webkit-padding-start: 25px;
  padding-inline-start: 25px;
  line-height: 1.9em;
}
.footer ul i {
  font-size: 12px;
  padding-right: 5px;
  width: 15px;
}

:checked + label > .favorite-full {
  opacity: 1;
  transform: scale(1);
}

:checked + label > .favorite-empty {
  transform: scale(0.2);
}

.card input {
  display: none;
}

.heart {
  display: inline-block;
  position: absolute;
  cursor: pointer;
}
.heart--index {
  font-size: 1.5rem;
  bottom: 12%;
  right: 5%;
}
.heart--index .favorite-empty {
  z-index: 3;
}
.heart--index .favorite-full {
  z-index: 4;
  bottom: 12%;
  right: 5%;
}
.heart--pages {
  font-size: 1.8rem;
  top: 12%;
  right: 3%;
}
.heart .favorite-empty {
  z-index: 1;
  transform: scale(1);
  transition: all 800ms ease-in-out;
}
.heart .favorite-full {
  z-index: 2;
  position: absolute;
  top: 0%;
  right: 0%;
  transition: all 800ms ease-in-out;
  opacity: 0;
  transform: scale(0.1);
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn {
  border: none;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0px 5px 5px #c4c4c4;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0px 5px 5px #aaaaaa;
}
.btn:hover::after {
  opacity: 1;
  transform: scale(1, 6) rotate(0deg);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #fface8, #ae80e5);
  opacity: 0;
  z-index: -1;
  transform: scale(1, 0.1) rotate(45deg);
  transition: all 1000ms;
}
.btn--index {
  font-size: 16px;
  padding: 0.8em 1.3em;
}
.btn--pages {
  font-size: 15px;
  padding: 0.9em 3em;
}

/*# sourceMappingURL=style.css.map */
