.menu{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    position: relative;

    img{
        flex-basis: 100%;
        height: 500px;
        width: 100%;
        max-width: $max-width;
        -o-object-fit: cover;
           object-fit: cover;
        z-index: 0;
        position: absolute;
        top: -20px;
        left: 0px;

        @include tablet-only{
            top: -150px;
        }
    }
}

.order{
    z-index: 1;
    margin-top: 250px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 40px 40px 0px 0px;
    padding: 30px 5% 0 5%;

    &__restaurant{
        position: relative;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;

        .name{
            font-family: $font_logo;
            font-size: 30px;
            margin:0;
            padding: 0;
        }
    }

// Here we set menu checkboxes and animations related

    input {
        display: none;
    }

    :checked + label > .order__meal--unselected{
        -webkit-animation: selected 800ms ease-in-out 1 forwards;
                animation: selected 800ms ease-in-out 1 forwards;
    }

    :checked + label > .pick >.fa-circle-check{
        -webkit-animation: selected-logo 800ms ease-in-out 1 forwards;
                animation: selected-logo 800ms ease-in-out 1 forwards;
    }

    :not(:checked) + label > .order__meal--unselected{
        -webkit-animation: selected-out 800ms ease-in-out 1 forwards;
                animation: selected-out 800ms ease-in-out 1 forwards;
    }

    :not(:checked) + label > .pick >.fa-circle-check{
        -webkit-animation: selected-logo-out 800ms ease-in-out 1 forwards;
                animation: selected-logo-out 800ms ease-in-out 1 forwards;
    }

    //Setting sections of meals

    &__section{
        flex-basis: 100%;

        @include tablet-only{
            flex-basis: 48%;    
        }

        @include desktop-only{
            flex-basis: 31%;    
        }
    }

    &__category{
        padding-top: 30px;
        font-weight: 100;
        font-size: 16px;            padding-bottom: 4px;
        box-shadow:   40px 4px 0px  map-get(map-get($palette, order), bg), 1px 3px 0px $color_tertiary;
        overflow: hidden;
    }

    &__meal{
        margin-top: 15px;
        display: flex;
        box-shadow: 1px 0px 10px darken($grey,15%);
        border-radius: 10px 10px 10px 10px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        -webkit-animation: menu 1000ms 1 both;
                animation: menu 1000ms 1 both;

        @for $i from 1 through 4 {    //loop delaying the animation of meals
            &--#{$i} {
                -webkit-animation-delay: 500ms + (100ms * $i);
                        animation-delay: 500ms + (100ms * $i);
            }
        }

//designing chexboxes

        &--unselected{
            background-color: $white;
            border-radius: 10px 0px 0px 10px;
            padding: 10px;
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            position: relative;
            z-index: 2;
            cursor: pointer;
            min-width: 0;

        }
    }
}

.description{
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 85%;
    display: flex;
    flex-direction: column;

    &__title{
        font-weight: bold;
        padding-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__add{
        font-weight: 100;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.container{
    position: relative;
    flex-basis: 15%;

    &__price{
        position: absolute;
        bottom: 0px;
        right: 5px;
    }
}

.pick{
    background-color: $color_tertiary;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    width: 21%;
    height: 100%;
    z-index: 1;
    top: 0;
    right:0;

    i{
        font-size: 30px;
        color: $white;
        position: absolute;
        top:25%;
        right: -50%;
        z-index: 2;
    }
}

.buy{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    flex-basis: 100%;
}