@keyframes selected{
    0% {
        flex-basis: 100%;
    }
    100% {
        flex-basis: 76%;
    }
}

@keyframes selected-out{
    0% {
        flex-basis: 76%;
    }
    100% {
        flex-basis: 100%;
    }
}

@keyframes selected-logo{
    0% {
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(-720deg);
    }
    100% {
        right: 5%;
        transform: rotate(-720deg);
    }
}

@keyframes selected-logo-out{
    0% {
        right: 5%;
        transform: rotate(-720deg);
    }
    20%{
        transform: rotate(-720deg);
    }
    100% {
        right: -15%;
        transform: rotate(0deg);
    }
}

@keyframes menu{
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes loaderbackground{
    0%{

    }
    100%{
        visibility: hidden;
    }
}

@keyframes logocolor{
    0%{
        color: $color_primary;
    }
    50%{
        color: $color_secondary;
    }
    100%{
        color: $color_tertiary;

    }
}

@keyframes spin-right{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(720deg);

    }
}

@keyframes spin-left{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(-1440deg);
    }
}