//mixin picking all the fonts color and background colour from a map

@mixin bgandfontcolor ($palette){
    @each $section, $option in $palette{
        .#{$section}{
            background-color: map-get($option, bg);
            color: map-get($option, color);
            flex-basis: map-get($option, flex);
            @if(map-get($option, align) != none){
                text-align: map-get($option, align);
            }
            @if(map-get($option, links) == yes){
                &__links{
                    list-style-type : none;
                     a{
                        color: map-get($option, color);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//This mixin is to factorise the code

@mixin margin-title (){
     h2{
        margin: 30px 0px 3px 20px;
        flex-basis: 100%;
    }
}

//Mixins to inclusive content

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
        }
    }

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)){
         @content;
        }
    }