$max-width: 1400px;

$font_logo: 'Shrikhand', cursive;
$font_logo_header_size:25px;
$font_logo_footer_size:18px;

$font_page: 'Roboto';

$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;

$black: #000000;
$white: #fff;
$grey: #EAEAEA;
$light-grey: #F7F7F7;
$blue-grey: #F5EDff;
$dark-grey: #353535;

//map of background and font color of all sections (bgcolor / font color / do we add a __links in the panel? / flex-basis / text-align)
$palette: (
    header: (
        bg: $white,
        color: $black,
        links: yes,
        flex: 100%,
        align: center,
    ),
    location: (
        bg: $grey,
        color: $black,
        links: no,
        flex: 100%,
        align: center,
    ),
    start: (
        bg: $light-grey,
        color: $black,
        links: no,
        flex: 100%,
        align: center,
    ),
    howtouse: (
        bg: $white,
        color: $black,
        links: no,
        flex: 100%,
        align: none,
    ),
    listing: (
        bg: $light-grey,
        color: $black,
        links: yes,
        flex: 100%,
        align: left,
    ),
    footer: (
        bg: $dark-grey,
        color: $white,
        links: yes,
        flex: 100%,
        align: left,
    ),
    order: (
        bg: $light-grey,
        color: $black,
        links: no,
        flex: 100%,
        align: left,
    )
);

$breakpoints: (
    tablet: 769px,
    desktop: 1024px,
);